body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f1f1f;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  padding: 30px;
  margin: 0 auto;
  max-width: 84rem;
  background-color: #282828;
  border-radius: 5px;
}

.card {
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  aspect-ratio: 1 / 1;
}

.card:hover {
  transform: translateY(-10px);
}
 
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.artinfo {
  padding: 15px;
}
.artinfo h3 {
  margin: 10px 0;
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: 600;
  color: #fff;
}
.artinfo p {
  margin: 5px 0;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  font-weight: 400;
  color: #bbb;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination a {
  color: #fff;
  background-color: #1c7ed6;
  border-color: #1c7ed6;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #0e6ebf;
  border-color: #0e6ebf;
}

.pagination a:active {
  background-color: #0d61aa;
  border-color: #0d61aa;
}

.pagination a:disabled {
  background-color: #444;
  border-color: #444;
  color: #999;
  cursor: not-allowed;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0;
  padding: 30px;
  max-width: 84rem;
  background-color: #282828;
  width: 100%;
  position: relative;
}

input[type="text"] {
  width: 300px;
  padding: 0.5rem;
  border: 2px solid #777;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
}

button[type="submit"] {
  background-color: #1c7ed6;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0e6ebf;
}

button[type="submit"]:active {
  background-color: #8b96ff;
}

button[type="submit"]:disabled {
  background-color: #444;
  color: #555;
  cursor: not-allowed;
}

.no-results {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #ccc;
}

:global(.autocomplete) {
  position: absolute;
  z-index: 1;
  top: 95%;
  left: 0;
  right: 0;
  background-color: #333;
  border: 1px solid #555;
  max-height: 200px;
  overflow-y: auto;
  max-width: 420px;
  margin: auto;
}

:global(.autocomplete-item) {
  padding: 8px;
  cursor: pointer;
  color: #ccc;
}

:global(.autocomplete-item:hover) {
  background-color: #444;
}
